@page "/add-appointment"
@layout MainLayout
@inherits WebApplication.Pages.AddAppointmentComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>Создание записи</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@Appointment" Visible="@(Appointment != null)" TItem="AppointmentRequest" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Клиент" Component="PersonId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@GetPersonsResult" TextProperty="Name.ConcatedName" ValueProperty="Id" Placeholder="Выберите клиента" style="display: block; width: 100%" Change="@OnPersonSelectedEvent" @bind-Value="@(Appointment.PersonId)" Name="PersonId">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="PersonId" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Услуги" Component="PersonSubscriptionIds" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @bind-Value=@(Appointment.PersonSubscriptionIds) Chips="true" Disabled="Appointment.PersonId == default" Multiple="true" Data=@GetPersonSubscriptionsResult DisabledProperty="IsGroup" ValueProperty="Id" TextProperty="CosmeticServiceName" style="display: block; width: 100%" Name="PersonSubscriptionIds">
                    <Template Context="data">
                        @(data.SubscriptionName ?? $"{data.CosmeticServiceName} - осталось: {data.CosmeticServiceCount} шт.")
                    </Template>
                </RadzenDropDown>
                <RadzenRequiredValidator Component="PersonSubscriptionIds" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Дата и время записи" Component="AppointmentDate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker ShowTime="true" HourFormat="24" DateFormat="dd.MM.yyyy H:mm" Min="DateTime.Now" style="display: block; width: 100%" @bind-Value="@(Appointment.AppointmentDate)" Name="AppointmentDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="AppointmentDate" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Комментарий" Component="Comment" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(Appointment.Comment)" Name="Comment">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Отменить" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
