@page "/add-cosmetic-service"
@layout MainLayout
@inherits WebApplication.Pages.AddCosmeticServiceComponent

@using Radzen
@using Radzen.Blazor
@using WebApplication.Models.LocalDb
<PageTitle>Создание услуги</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@CosmeticService" Visible="@(CosmeticService != null)" TItem="CosmeticServiceRequest" Submit="@Form0Submit">
          <ChildContent>         
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Наименование" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(CosmeticService.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="Name is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Длительность (минуты)" Component="ExecuteTimeInMinutes" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(CosmeticService.ExecuteTimeInMinutes)" Name="ExecuteTimeInMinutes">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="ExecuteTimeInMinutes" Text="ExecuteTimeInMinutes is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Описание" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="display: block; width: 100%" @bind-Value="@(CosmeticService.Description)" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
