@page "/add-order"
@layout MainLayout
@inherits WebApplication.Pages.AddOrderComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>Создание заказа</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@Order" Visible="@(Order != null)" TItem="OrderRequest" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Клиент" Component="PersonId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@GetPersonsResult" TextProperty="Name.ConcatedName" ValueProperty="Id" Placeholder="Выберите клиента" style="display: block; width: 100%" @bind-Value="@(Order.PersonId)" Name="PersonId">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="PersonId" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Абонементы" Component="SubscriptionIds" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@GetSubscriptionsResult" Multiple="true" TextProperty="Name" ValueProperty="Id" Placeholder="Выберите абонементы" style="display: block; width: 100%" @bind-Value="@(Order.SubscriptionIds)" Name="SubscriptionIds">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="SubscriptionIds" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Комментарий" Component="Comment" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(Order.Comment)" Name="Comment">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Отмена" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
