@page "/cosmetic-services"
@layout MainLayout
@inherits WebApplication.Pages.CosmeticServicesComponent

@using Radzen
@using Radzen.Blazor
@using WebApplication.Models.LocalDb
<PageTitle>Косметические услуги</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Косметические услуги">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {Search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" GridLines="DataGridGridLines.Horizontal" AllowFiltering="false" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" PageSize="@PageSize" Count="@TotalCount" LoadData="@LoadDataAsync" AllowSorting="false" Data="@GetCosmeticServicesResult" TItem="GetCosmeticServiceResponseDto" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="GetCosmeticServiceResponseDto" Property="Name" Title="Наименование">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetCosmeticServiceResponseDto" Property="ExecuteTimeInMinutes" Title="Длительность сеанса">
                <Template Context="cosmeticService">
                    @{
                       const int MinutesInHour = 60;

                       if (!cosmeticService.ExecuteTimeInMinutes.HasValue)
                       {
                           <span>-</span>
                       }
                       else if (cosmeticService.ExecuteTimeInMinutes >= MinutesInHour)
                       {
                           if (cosmeticService.ExecuteTimeInMinutes % MinutesInHour == 0)
                           {
                               <span>@($"{cosmeticService.ExecuteTimeInMinutes / MinutesInHour} ч.")</span>
                           }
                           else
                           {
                               <span>@($"{cosmeticService.ExecuteTimeInMinutes / MinutesInHour} ч. {cosmeticService.ExecuteTimeInMinutes % MinutesInHour} мин.")</span>
                           }
                       }
                       else
                       {
                           <span>@($"{cosmeticService.ExecuteTimeInMinutes} мин.")</span>
                       }
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetCosmeticServiceResponseDto" Property="Description" Title="Описание">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetCosmeticServiceResponseDto" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="webApplicationModelsLocalDbCosmeticService">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, webApplicationModelsLocalDbCosmeticService))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
