@page "/edit-subscription/{Id}"
@layout MainLayout
@inherits WebApplication.Pages.EditSubscriptionComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>Редактирование абонемента</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="SubscriptionRequest" Data="@Subscription" Visible="@(Subscription != null)" Submit="@Form0Submit">
          <ChildContent>
            <div class="row">
                <div class="col-md-6">
                    <RadzenHeading Size="H1" Text="Редактирование абонемента">
                    </RadzenHeading>
                </div>
                <div class="col-md-6">
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Отмена" Click="@Button2Click" style="position: absolute; right: 1rem">
                    </RadzenButton>
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary" style="position: absolute; right: 7rem">
                    </RadzenButton>
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Наименование" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(Subscription.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Срок действия (дни)" Component="LifeTimeInDays" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(Subscription.LifeTimeInDays)" Name="LifeTimeInDays">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Стоимость" Component="Price" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(Subscription.Price)" Name="Price">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Price" Text="Обязательное поле" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <RadzenHeading Size="H2" Text="Услуги" style="margin-top: 1rem">
                    </RadzenHeading>
                    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@Button0Click">
                    </RadzenButton>
                    <RadzenDataGrid @ref="grid0" AllowFiltering="false" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="false" AllowSorting="false" Data="@Subscription.CosmeticServices" TItem="SubscriptionRequest.CosmeticServiceRequest"  RowSelect="@Grid0RowSelect">
                        <Columns>
                            <RadzenDataGridColumn TItem="SubscriptionRequest.CosmeticServiceRequest" Property="Name" Title="Услуга">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SubscriptionRequest.CosmeticServiceRequest" Property="Count" Title="Количество">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SubscriptionRequest.CosmeticServiceRequest" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                              <Template Context="webApplicationModelsLocalDbSubscription">
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, webApplicationModelsLocalDbSubscription))" @onclick:stopPropagation="true">
                                </RadzenButton>
                              </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
