@page "/orders"
@layout MainLayout
@inherits WebApplication.Pages.OrdersComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>Заказы</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Заказы">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@Button0Click">
            </RadzenButton>
            </div>
            <div class="col-md-6 text-right">
            <RadzenLabel Text="От" style="margin-right: 1rem">
            </RadzenLabel>
            <RadzenDatePicker DateFormat="dd.MM.yyyy" Max="@EndCreatedOn" @bind-Value="@StartCreatedOn" Name="StartCreatedOn" Change="Load" style="margin-right: 2rem">
            </RadzenDatePicker>
            <RadzenLabel Text="До" style="margin-right: 1rem">
            </RadzenLabel>
            <RadzenDatePicker DateFormat="dd.MM.yyyy" Min="@StartCreatedOn" @bind-Value="@EndCreatedOn" Name="EndCreatedOn" Change="Load">
            </RadzenDatePicker>
            </div>
        </div>
        <RadzenTextBox Placeholder="Поиск по ФИО или телефону..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {Search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="false" GridLines="DataGridGridLines.Horizontal" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" PageSize="PageSize" Count="TotalCount" LoadData="@LoadDataAsync" AllowSorting="false" Data="@GetOrdersResult" TItem="GetOrderResponseDto" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="Person" Title="Клиент">
              <Template Context="data">
                  <div class="row" style="margin-left: 5px">
                      @data.Person.Name.ConcatedName
                  </div>
                  <div class="row" style="margin-left: 5px">
                     @data.Person.PhoneNumber
                  </div>
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="Modifier.Name.ConcatedName" Title="Сотрудник">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="Cost" Title="Стоимость">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="PaymentStatus" Title="Статус">
                <Template Context="data">
                @switch (data.PaymentStatus)
                {
                    case PaymentStatus.NotPaid:
                        <RadzenBadge IsPill="true" BadgeStyle="BadgeStyle.Light" Text="Не оплачено" />
                        break;
                    case PaymentStatus.Paid:
                        <RadzenBadge IsPill="true" BadgeStyle="BadgeStyle.Success" Text="Оплачено" />
                        break;
                    case PaymentStatus.Cancelled:
                        <RadzenBadge IsPill="true" BadgeStyle="BadgeStyle.Warning" Text="Отменено" />
                        break;
                }
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="PaymentMethod" Title="Способ оплаты">
              <Template Context="data">
                @switch (data.PaymentMethod)
                {
                    case PaymentMethod.None:
                        <span>Нет</span>
                        break;
                    case PaymentMethod.Cash:
                        <span>Наличные</span>
                        break;
                    case PaymentMethod.Card:
                        <span>Банковская карта</span>
                        break;
                }
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="Comment" Title="Комментарий">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="CreatedOn.ToLocalTime()" FormatString="{0:dd.MM.yyyy}" Title="Дата создания">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Property="UpdatedOn.ToLocalTime()" FormatString="{0:dd.MM.yyyy}" Title="Дата обновления">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetOrderResponseDto" Filterable="false" Sortable="false" Width="130px" TextAlign="TextAlign.Center" Title="Действие">
              <Template Context="webApplicationModelsLocalDbOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="done" Visible="@(webApplicationModelsLocalDbOrder.PaymentStatus == PaymentStatus.NotPaid)" Size="ButtonSize.Small" MouseEnter="@(args => ShowPayButtonTooltip(args, new TooltipOptions { Position = TooltipPosition.Bottom }) )" Click="@((args) => GridPayButtonClick(args, webApplicationModelsLocalDbOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Visible="@(webApplicationModelsLocalDbOrder.PaymentStatus == PaymentStatus.NotPaid)" Size="ButtonSize.Small" MouseEnter="@(args => ShowCancelButtonTooltip(args, new TooltipOptions { Position = TooltipPosition.Bottom }) )" Click="@((args) => GridCancelButtonClick(args, webApplicationModelsLocalDbOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
