@page "/pay-or-cancel-order"
@layout MainLayout
@inherits WebApplication.Pages.PayOrCancelOrderComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>@(PageTitle)</PageTitle>
<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@PayOrCancelOperation" Visible="@(PayOrCancelOperation != null)" TItem="PayOrCancelRequest" Submit="@Form0Submit">
                    <ChildContent>
                        @if (IsPayOperation)
                        {
                            <div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-3">
                                    <RadzenLabel Text="Способ оплаты" Component="PaymentMethod" style="width: 100%">
                                    </RadzenLabel>
                                </div>
                                <div class="col-md-9">
                                    <RadzenDropDown Data="PaymentMethods" ValueProperty="Key" TextProperty="Value" style="display: block; width: 100%" @bind-Value="@(PayOrCancelOperation.PaymentMethod)" Name="PaymentMethod">
                                    </RadzenDropDown>
                                    <RadzenRequiredValidator Component="PaymentMethod" Text="Обязательное поле" style="position: absolute">
                                    </RadzenRequiredValidator>
                                </div>
                            </div>
                        }
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text="Комментарий" Component="Comment" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextArea Placeholder="Введите комментарий..." @bind-Value="@(PayOrCancelOperation.Comment)" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Отмена" Click="@Button2Click">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>