@page "/subscriptions"
@layout MainLayout
@inherits WebApplication.Pages.SubscriptionsComponent

@using Radzen
@using Radzen.Blazor
@using WebApplication.Models.LocalDb
<PageTitle>Абонементы</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Абонементы">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Поиск по наименованию..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {Search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="false" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" PageSize="@PageSize" Count="@TotalCount" AllowSorting="false" Data="@GetSubscriptionsResult" TItem="GetSubscriptionListItemResponseDto" RowSelect="@Grid0RowSelect" LoadData="@LoadDataAsync">
          <Columns>
            <RadzenDataGridColumn TItem="GetSubscriptionListItemResponseDto" Property="Name" Title="Наименование">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetSubscriptionListItemResponseDto" Property="LifeTimeInDays" Title="Активность">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetSubscriptionListItemResponseDto" Property="Price" Title="Стоимость">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GetSubscriptionListItemResponseDto" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="webApplicationModelsLocalDbSubscription">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, webApplicationModelsLocalDbSubscription))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
